{% extends "base.html" %}

{% block title %} <h1>Index page</h1> {% endblock %}

{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" style="text/css">
{% endblock %}

{% block content %}

<ul>
    <li>Packs: {{ count_of_packs }}
        <ul>

        {% for pack in packs %}
            <li>{{pack.id}}  {{pack.name}}</li>
        {% endfor %}

        </ul>

    </li>

    <li>Questions: {{ count_of_questions }}
        <ul>

            {% for question in questions %}
                <li>{{question.id}}  {{question.question|linebreaks}}</li>
            {% endfor %}

        </ul>
    </li>
</ul>

{% endblock %}