<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Cabinet</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/MyCabinet_page.css' %}">
</head>

<body>
	<header>
	<div class="container">
		<div class="UpperRectangle clearfix">
			<a href="{% url 'catalog:index' %}">
			<img class="grow" src="{% static 'css/img/logo.png' %}" alt="Logo" id="logo">
			</a>
			<p>Мій кабінет</p>
		</div>
		<div id="nickname">
			<p>{{ username }}</p> <button>Вийти</button>
		</div>
		<div>
			<table id="atributes">
				<tr>
					<td class="keyss">Пайсони: </td><td class="valuess">{{ paisons }}</td>
				</tr>
				<tr>
					<td class="keyss">Розв'язано: </td><td class="valuess">{{ completed_count }}</td>
				</tr>
				<tr>
					<td class="keyss">Досягнення: </td>
					{% if achievements %}
						<td id="achivements"><ul>
						{% for achievement in achievements %}
							<li>{{ achievement.name}}</li>
						{% endfor %}
						</ul></td>
					{% endif %}
				</tr>
			</table>
		</div>
	</div>
	</header>
	<section id="tasks_back" class="container">
		<h1 id="tasks_word">Завдання</h1>
		<br>
		{% for pack in all_packs %}
		<div class="task threed" id="VariablesPower">
			<h2 style="background-color: {{ pack.color }}">{{ pack.name }}</h2>
			<table>
				<tr>
					<td class="keys">Запитань: </td>
					<td class="values">{{ pack.count_of_questions }}</td>
				</tr>
				<tr>
					<td class="keys">Винагорода: </td>
					<td class="values">{{ pack.reward }}</td>
				</tr>
				<tr>
					<td class="keys">Складність: </td>
					<td class="values">{{ pack.difficulty }}/10</td>
				</tr>
			</table>
			<button class="to_pack_button grow"  onclick="toPage('Pack_page.html', '_self')">
				<p><a class="to_n_pack" href="{% url 'catalog:pack' pack.id %}">Відкрити пак</a></p>
			</button>
		</div>
		{% endfor %}

	</section>
	<footer>
		<hr/>
		<div class="container clearfix">
			<img src="{% static 'css/img/MiniLogo.png'%}", alt="Mini-logo", id="mini-logo">
			<p id="footer_info"><img style="width: 25px; height: auto;" src="{% static 'css/img/Telegram.png'%}"> Telegram: <a href="https://web.telegram.org/#/login">@Larko_0</a><br/>Phone number: +380950218899</p>
		</div>
	</footer>
</body>
</html>
