<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pack {{ pack.name }}</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/Pack_page.css' %}">
</head>
<body>
	<header>
	<div class="container">
		<div class="UpperRectangle clearfix">
			<a href="index.html">
			<img src="{% static 'css/img/logo.png' %} " alt="Logo" id="logo">
			</a>
			<p>Pack</p>
		</div>
	</div>
	<div class="color_of_pack container ">
		
	</div>
	</header>

	<section class="container" id="base">
		<div id="TaskBox">
			<h1>Task 1</h1>
			<p id="question">
				Що поверне наступна програма:<br><br>
				a = 3<br>
				print(a + a * a)
			</p>
			<form id="answer_form">
			</form>
		</div>
		<div id="NavBox">
			<button id="BackButton" onclick="previous_question()">
				Попереднє
			</button>
			<button id="NextButton" onclick="next_question()">
				Наступне
			</button>
		</div>
	</section>

	<footer>
		<hr/>
		<div class="container clearfix">
			<img src="{% static 'css/img/MiniLogo.png' %}", alt="Mini-logo", id="mini-logo">
			<p id="footer_info"><img style="width: 25px; height: auto;" src="{% static 'css/img/Telegram.png' %}"> Telegram: <a href="https://web.telegram.org/#/login">@Larko_0</a><br/>Phone number: +380950218899</p>
		</div>
	</footer>
	<script type="text/javascript">
		var url_end_test = "{% url 'catalog:end_test' pack.id %}";
		var pack_name = '{{ pack.name|safe }}';
		var pack_reward = {{ pack.reward|safe }};
		var csrf_token = "{{ csrf_token }}";
		var url_to_my_cab = "{% url 'catalog:packs' %}"

	</script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>-->
	<script type="text/javascript" src="{% static 'JavaScript/Pack_page.js' %}"></script>
	<script>
		var current_pack = new Pack(pack_name, [], pack_reward);

		{% for question in pack.question_set.all %}
		current_pack.add_question(new TestQuestion('{{ question.question|safe|linebreaks }}', '{{ question.answers_json|safe }}'));
		{% endfor %}
		set_nth_question(current_pack, 0)
	</script>
</body>
</html>
