body {
	font-family: Cooper Black, Arial, sans-serif;
	padding: 0;
	margin: 0;
	background-color: rgba(0, 255, 127, 0.5)
}

header {
	padding: 10px 0 0 0;
}

div {
	box-sizing: border-box;
}

.container {
	width: 900px;
	margin: 0 auto;
}


.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.UpperRectangle {
	margin-top: 0px;
	margin-bottom: 10px;
	border-width: 2.51px;
	border-color: rgb(0, 0, 0);
	border-style: solid;
	border-radius: 20px;
	background-color: rgba(168, 224, 137, 0.7);
	height: 87px;
}

.UpperRectangle p {
	float: right;
	margin-top: 8px;
	margin-right: 10px;
	margin-left: 70px;
	font-size: 50px;
  	font-family: "Myriad Pro";
  	color: rgb(17, 74, 23);
  	font-weight: bold;
  	line-height: 1.2;
  	text-align: center;
}

.UpperRectangle p a {
	text-decoration: none;
	font-size: 40px;
  	color: rgb(17, 74, 23);
  	background-color: rgba(0, 0, 0, 0.6)
  	border-radius: 10px;
}


#logo {

	max-width: 200px;
	height: auto;
	float: left;
	opacity: 100%;
	margin-top: 10px;
	margin-left: 3px;
}

#TaskBox>h1 {
	text-align: center;
	margin-bottom: 30px;
	color: white;
}

div#TaskBox {
	padding: 40px 100px;
	margin: 50px;
	margin-bottom: 35px;
	background-color: rgba(100, 0, 0, 0.3);
	border-radius: 30px;
}

#question {
	font-family: Arial;
	font-size: 20px;
	padding: 20px 50px;
	border: 1px solid black;
	border-color: white;
	border-radius: 5px;
	color: white;
}

#TaskBox ul li {
	list-style-type: circle;
	list-style-position: inside;
	min-width: 90px;
	font-size: 30px;
	color: yellow;
}

#TaskBox ul button {
	margin: 7px;
	border-radius: 5px;
	background-color: rgba(1, 100, 100, 0.2);
}

div#NavBox {
	margin-left: 200px;
}

#NavBox button {
	margin: 0px 90px 100px 0px;
	width: 200px;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.2);
}

#answer_form {
	display: flex;
	justify-content: center;
	font-size: 16pt;
	color: white;
}

#answer_form input {
	width: 40px;
	height: 20px;
}

.result {
	font-size: 50pt;
  	color: rgb(17, 74, 23);
  	text-align: center;
}

.result1 {
	font-size: 30pt;
  	color: rgb(17, 74, 23);
  	text-align: center;
}

#result_list {
	width: 100px;
	margin: 0 auto 100px;
}

#result_list li {
	color: rgb(17, 74, 23);
	font-size: 20pt;
}

#PassTest_button {
	width: 300px;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
}

.center {
	display: flex;
	justify-content: center;
	align-content: center;
}

/*Footer*/
#mini-logo {
	float: left;
}

footer p {
	margin-top: 0;
	margin-right: 100px;
	float: right;
 	font-family: "Myriad Pro";
  	color: rgb(82, 134, 104);
  	font-size: 30px;
  	text-align: center;
}

footer a {
	text-decoration: none;
}
